<div
  *ngIf="isOpen && displayDetailsStructureId"
  class="fr-background-flat--info"
  [ngClass]="{
    'fr-col-xl-8 fr-col-lg-7 fr-overflow--auto': displayDetailsStructureId,
    'fr-col-xl-4 fr-col-lg-5': !displayDetailsStructureId,
    'fr-displayed-lg': displayMap,
    'fr-col-12': !displayMap
  }">
  <div class="fr-p-3w">
    <h6 class="fr-text-inverted--info">
      <span class="fr-fi-error-warning-fill" aria-hidden="true"></span>
      Besoin de plus d’informations ?
    </h6>
    <p class="fr-text-inverted--info fr-mb-0">
      Nous travaillons actuellement à l'enrichissement de ces données.
      <br />
      Vous pourrez bientôt découvrir les coordonnées des conseillers numérique France Services ainsi que leur horaire de
      permanence.
    </p>
  </div>
</div>
