<ng-container *ngIf="structuresList.length > 0; else emptyPermanenceList">
  <ul class="fr-list-group fr-list-group--flush">
    <li
      [attr.id]="permanence.id"
      *ngFor="let permanence of structuresList; index as i; trackBy: trackByPermanenceId"
      class="fr-list-group__item">
      <div class="fr-display--flex fr-justify-content--space-between fr-column-gap-3v">
        <h4 class="fr-list-group__item__title">{{ permanence.name }}</h4>
      </div>
      <div class="fr-display--flex fr-justify-content--space-between fr-column-gap-3v">
        <p class="fr-text-mention--grey fr-text--sm">{{ permanence.address }}</p>
        <div>
          <button class="fr-btn fr-btn--secondary fr-white-space--nowrap" (click)="displayDetails.emit(permanence.id)">
            Afficher les détails
          </button>
        </div>
      </div>
    </li>
  </ul>
  <div class="fr-hidden-lg fr-pb-6w"></div>
</ng-container>
<ng-template #emptyPermanenceList>
  <p class="fr-text--bold fr-mt-3w">
    Cette cartographie vous permet de localiser les permanences des conseillers numériques France Service de votre territoire.
  </p>
  <p>
    Autorisez la géolocalisation pour positionner la carte là où vous vous trouvez, tapez une adresse, une ville, ou un code
    postal dans le champ de recherche afin de visualiser les permanences de conseillers numériques les plus proches.
  </p>
</ng-template>
