<div style="height: 100%; margin: 0; position: relative;">
  <button (click)="backToPreviousPage()" class="fr-link fr-fi-arrow-left-line fr-link--icon-left fr-mt-6w fr-ml-15w">
    Revenir à la page précedente
  </button>
  <div style="position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);"
    class="fr-display--flex fr-flex-direction--column fr-justify-content--center fr-align-items--center">
    <img class="fr-mb-4w" title="Page en cours de développement" width="280px" height="280px" src="/assets/rendez-vous/en-cours-developpement.svg"
      alt="Page en cours de développement" />
    <h3 style="max-width: 670px;">Cette fonctionnalité est en cours de conception et sera prochainement livrée sur la
      plateforme !</h3>
  </div>
</div>
