/* You can add global styles to this file, and also import other style files */
.todo {
  border: 3px dashed #fad34a;
}

.todo-alt-1 {
  border: 3px dashed #4adafa;
}

.todo-alt-2 {
  border: 3px dashed #b94afa;
}

// TODO Surement moyen d'améliorer ça.
.cluster-icon {
  font-family: Marianne, sans-serif;
  font-weight: 14;
  color: #ffff;
  text-align: center;
  background-image: url('./assets/map/pin-cnfs-cluster.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
